{% extends 'base.html' %}

{% block content %}
<body style="background-color:turquoise ">
<div class="container-fluid">
    <div class="row front-page"
        <div class="col-md-12">
            <h1>Welcome to Rebel Art</h1>
         </div>
     </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="title">
    <div class="card">
        <img id='first' src="https://images.discerningassets.com/image/upload/c_fit,h_1000,w_1000/c_fit,fl_relative,h_1.0,o_100,w_1.0/v1527201847/Flow_ollnzm.jpg" width="200" height="200" class="rounded-circle" alt="avatar">
    </div>
    <div class="overlay">
            <h2>Abstract Art</h2>
            <a class="info" href="{{ url_for('main.abstract') }}">Blogs</a>
        </div>
</div>
</div>

<div class="container">
<div class="col-md-4">
<!-- <div class="card"> -->
    <div class="card" style="background-color:rgba(211, 211, 211, 0.322) "> 
          <h4>Enter your email to get the latest articles</h4>
            <form action="" method="POST">
                
                    <div class="col-md-6">
                        {{subscribe_form.hidden_tag()}}
                        {{subscribe_form.email}}
                        <br>
                        <br>
                        {{subscribe_form.name}}
                        <br>
                        <br>
                        {{subscribe_form.subscribe}}
                    </div>
                </form>
                </div>
              </div>
             </div>
            </div>
        </div>
<footer>
    <h5 >{{quote_author}}</h5>
    <h2>{{quote}}</h2>
    <div class="container-fluid social text-center">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <i class="fa fa-pinterest fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</footer> -->
</div>

{% endblock%}
</body>